#modal{
    width: 300px;
    height: 200px;
    border: 1 solid gray;
    border-radius: 5px;
    padding: 0px;
}

#closeModal{
    background-color: crimson;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    float: right;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    cursor: pointer;
}

